// Typography
.subheading {
  display: inline-block;
  font-size: 1.8rem;
  color: $color-primary;
  font-weight: 500;
  margin-bottom: 1.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: $color-gray-2;
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  max-width: 16ch;
  margin-bottom: 2.4rem;
}

// Container
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

// Buttons
.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-decoration: none;
  color: #fff;
  background-color: $color-primary;
  padding: 1.8rem 3.6rem;
  border-radius: 12px;
  cursor: pointer;
  box-shadow: 0 0.8rem 2.4rem -4px $color-shadow;

  transition: all 0.2s;
}

.btn:hover,
.btn:active {
  transform: translateY(-2px);
  box-shadow: 0 1rem 2.4rem -4px $color-shadow;
}

.btn--nav,
.btn--nav:link,
.btn--nav:visited {
  padding: 1.2rem 2.4rem;
}

// grid
.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

// tag
.tag {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  font-size: 1.2rem;
  color: $color-primary;
  background-color: rgba($color-primary, 0.1);
  border-radius: 9px;
  margin-bottom: 2rem;
}

/* ## Font sizes
- 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
## Spacing system
- 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
